<div class="container center-content">
    <div class="row margin-top">
      <h1>Verifica tu identidad</h1>
    
      <p>
        Confirma tu huella digital para verificar tu identidad.
      </p>

      <div>
        <img class="img" src="https://images.vexels.com/media/users/3/142431/isolated/preview/3119eb6945891017f212db4625519974-trazo-de-huella-digital-silueta.png" />
      </div>
    </div>
</div>

<style>
.center-content {
  margin: auto;
  display: block; 
  text-align: center;
}
.margin-top {
  margin-top: 5%;
}
.img {
  width: 25%;
}
</style>
